.category-all-page {
  .category-all-title {
    text-align: center;
  }

  .category-all {
    margin-top: 20px;
  }

  .category-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .category-list-item {
    margin: 5px 10px;
    border-radius: 6px;
    padding: 2px 14px;
    min-width: 90px;
    display: flex;
    justify-content: center;
  }

  .category-list-count {
    color: $grey;

    &::before {
      content: ' (';
      display: inline;
    }

    &::after {
      content: ') ';
      display: inline;
    }
  }

  .category-list-child {
    padding-left: 10px;
  }
}
